@font-face {
  font-family: Gilroy;
  src: local("Gilroy-Regular"), url(../assets/fonts/Gilroy-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Gilroy;
  src: local("Gilroy-Medium"), url(../assets/fonts/Gilroy-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Gilroy;
  src: local("Gilroy-Semibold"), url(../assets/fonts/Gilroy-Semibold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: local("Roboto-Semibold"), url(../assets/fonts/Roboto-Semibold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Roboto;
  src: local("RobotoBold"), url(../assets/fonts/Roboto-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Manrope;
  src: local("Manrope-Regular"), url(../assets/fonts/Manrope-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Manrope;
  src: local("Manrope-SemiBold"), url(../assets/fonts/Manrope-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Manrope;
  src: local("Manrope-Bold"), url(../assets/fonts/Manrope-Bold.woff2) format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Manrope;
  src: local("Manrope-ExtraBold"), url(../assets/fonts/Manrope-ExtraBold.woff2) format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

blockquote, body, dd, dl, fieldset, figcaption, figure, h1, h2, h3, h4, li, p {
  margin: 0;
}

body {
  font-family: Gilroy, sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #4a4a4a;
  text-rendering: optimizeSpeed;
  scrollbar-gutter: stable;
  background-color: #fcfcfc;
}

img {
  max-width: 100%;
}

button, input, select, textarea {
  font: inherit;
  border: none;
  outline: 0;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  font-family: inherit;
  background-color: transparent;
  cursor: pointer;
}

input[type=search] {
  -webkit-appearance: none;
  border-radius: 8px;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  display: none;
}

// .container {
//   margin-inline: auto;
//   max-width: 1170px;
// }

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.stop-scroll {
  overflow: hidden;
}

.hidden {
  display: none;
}

.mobile-visible {
  display: none;
}

.overlay {
  position: fixed;
  background-color: #000;
  opacity: 0.4;
  z-index: 18;
  width: 100%;
  height: 100%;
  inset: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  border-radius: 8px;
  padding: 16px 31px;
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #4a4a4a;
  background-color: #ffdf84;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: #fee8a8;
}

.back-btn {
  z-index: 10;
  position: absolute;
  right: 5px;
  top: 0;
  font-family: Manrope, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: #4a4a4a;
  border-radius: 4px;
  background-color: #ffdf84;
  padding: 8px 16px;
}

//HEADER
.header {
  background-color: #26a69a;
  color: #ffffff;
  height: 64px;
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px
  }
  &__logo {
    font-size: 2.1rem;
    color: aliceblue;
    @media (max-width: 376px){
      font-size: 1.8rem;
    }
  }
  &__nav {
    display: flex;
    align-items: center;

  }
  &__nav-item {
    height: 64px;
  }
  &__nav-link {
    color: #ffffff;
    display: block;
    height: 100%;
    line-height: 64px;
    padding-left: 15px;
    padding-right: 15px;
    transition: all .2s linear;
    &:hover {
      background-color: rgba(225,255,225,0.1);
    }
  }
}

.hero {
  margin-bottom: 64px;
}

.hero__wrapper {
  display: flex;
  justify-content: space-between;
}

.hero__slider-primary {
  position: relative;
  width: 770px;
  min-height: 373px;
}

.hero .slider-primary__swiper-pagination {
  z-index: 10;
  height: 10px;
  width: 60px;
  position: absolute;
  top: 10px;
  left: 707px;
}

.hero .slider-secondary__swiper-pagination {
  z-index: 10;
  height: 10px;
  width: 50px;
  position: absolute;
  top: 10px;
  left: 307px;
}

.hero__slider-wrapper {
  position: relative;
}

.hero__slider-wrapper--primary {
  flex-basis: 770px;
}

.hero__slider-wrapper--secondary {
  flex-basis: 370px;
}

.hero .slider-primary {
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}

.hero .slider-primary__slide {
  border-radius: 16px;
  overflow: hidden;
  height: 100%;
}

.hero .slider-primary .slider-primary__content {
  border-radius: 16px;
  overflow: hidden;
  position: relative;
  padding: 24px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 48px);
}

.hero .slider-primary__img {
  display: block;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}

.hero .slider-primary__title {
  color: #4a4a4a;
  font-family: Manrope, sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 120%;
  margin-bottom: 24px;
}

.hero .slider-primary__text {
  margin-bottom: auto;
  line-height: 140%;
  max-width: 580px;
}

.hero .slider-primary__btn {
  position: absolute;
  bottom: 24px;
  left: 24px;
  z-index: 5;
}

.hero__slider-secondary {
  width: 370px;
  min-height: 373px;
}

.hero .slider-secondary {
  background-color: #f9f9f9;
  overflow: hidden;
  border-radius: 16px;
  min-height: 100%;
}

.hero .slider-secondary .slider-secondary__content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  height: calc(100% - 32px);
  min-height: 347px;
}

.hero .slider-secondary__title {
  color: #4a4a4a;
  font-weight: 700;
  line-height: 140%;
  font-size: 16px;
  margin-bottom: 4px;
}

.hero .slider-secondary__text {
  line-height: 140%;
  color: #c6c6c6;
  margin-bottom: 4px;
}

.hero .slider-secondary__img-wrapper {
  margin-bottom: 12px;
}

.hero .slider-secondary__img {
  width: 338px;
  height: 244px;
  -o-object-fit: contain;
  object-fit: contain;
}

.hero .slider-secondary__round-btn {
  min-width: 32px;
}

.hero .slider-secondary__round-btn img {
  width: 32px;
  height: 32px;
}

.hero .slider-secondary__global-link {
  color: #4a4a4a;
}

.hero .slider-secondary__global-link::before {
  position: absolute;
  content: "";
  inset: 0;
}

.hero .slider-secondary__flex-wrapper {
  align-items: end;
  justify-content: space-between;
  display: flex;
  flex-grow: 1;
  margin-top: auto;
}

.hero .swiper-pagination-bullet {
  background-color: #4a4a4a;
  opacity: 1;
}

.hero .swiper-pagination-bullet-active {
  background-color: #ffdf84;
  opacity: 1;
}

//FORM
.form {
  margin-top: 30px;
  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 20px;
  }
  &__wrap {
    width: 60%;
    margin-bottom: 30px;
    @media (max-width: 426px){
      width: 100%;
    }
  }
  &__control {
    display: flex;
    flex-direction: column;
    margin-bottom: 12px;
  }
  &__label {
    margin-bottom: 6px;
  }
  &__input{
    border: 1px solid;
    padding: 6px;
    border-radius: 6px;
  }
  &__textarea {
    border: 1px solid;
  }
  &__preview {
    width: 120px;
    height: 140px;
    border: 1px solid #000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin-bottom: 20px;
  }
  &__image-preview {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
  }
  &__btn {
    background: #26a69a;
    color: #ffffff;
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 20px;
    font-weight: 700;
    &--danger {
      background: red;
    }
    &--primary {
      background: green;
    }
    &--secondary {
      background: blue;
    }
  }
}

//CARD
.card {
  display: flex;
  align-items: center;
  column-gap: 16px;
  row-gap: 16px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 12px;
  @media (max-width: 1199px){
    align-items: flex-start
  }
  @media (max-width: 660px){
    flex-direction: column;
  }
  
  &__img {
    width: 80px;
  }
  &__title {
    font-size: 16px;
    flex: 0 0 180px;
    @media (max-width: 660px){
      flex: none;
    }
  }
  &__desc {
    flex: 1;
  }
  &__btns {
    display: flex;
    gap: 8px;
  }
}

@media (max-width: 1199px) {
  .container {
    max-width: 690px;
  }
  .btn {
    font-size: 14px;
    line-height: 16px;
    padding: 12px 24px;
  }
  .back-btn {
    font-size: 12px;
  }
  .hero {
    margin-bottom: 48px;
  }
  .hero__slider-primary {
    width: 450px;
    min-height: 370px;
  }
  .hero .slider-primary__swiper-pagination {
    left: 389px;
  }
  .hero .slider-secondary__swiper-pagination {
    left: 149px;
  }
  .hero .slider-primary .slider-primary__content {
    height: calc(100% - 48px);
  }
  .hero .slider-primary__title {
    font-size: 32px;
    line-height: 120%;
  }
  .hero .slider-primary__text {
    max-width: 100%;
    font-size: 14px;
  }
  .hero .slider-primary__btn {
    bottom: 32px;
    left: 24px;
  }
  .hero__slider-secondary {
    width: 210px;
    min-height: 370px;
  }
  .hero .slider-secondary .slider-secondary__content {
    min-height: 338px;
  }
  .hero .slider-secondary__text {
    margin-bottom: 6px;
    font-size: 14px;
  }
  .hero .slider-secondary__img-wrapper {
    margin-bottom: 6px;
  }
  .hero .slider-secondary__img {
    width: 178px;
    height: 178px;
  }
  .hero .slider-secondary__round-btn {
    width: 100%;
    text-align: right;
    margin-top: auto;
  }
  .hero .slider-secondary__flex-wrapper {
    flex-wrap: wrap;
    align-items: start;
  }
}
@media (max-width: 767px) {
  .container {
    padding-inline: 15px;
  }
  .mobile-visible {
    display: inline-block;
  }
  .btn {
    padding: 16px 32px;
  }
  .back-btn {
    display: none;
  }
  .hero__wrapper {
    flex-wrap: wrap;
  }
  .hero__slider-primary {
    width: 100%;
    min-height: 255px;
  }
  .hero .slider-primary__swiper-pagination {
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
    top: unset;
  }
  .hero .slider-secondary__swiper-pagination {
    bottom: -20px;
    top: unset;
    left: 50%;
    transform: translateX(-50%);
  }
  .hero__slider-wrapper--primary {
    margin-bottom: 56px;
  }
  .hero__slider-wrapper {
    width: 100%;
  }
  .hero .slider-primary {
    width: 100%;
  }
  .hero .slider-primary .slider-primary__content {
    height: calc(100% - 48px);
    padding: 16px;
  }
  .hero .slider-primary__title {
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 8px;
  }
  .hero .slider-primary__btn {
    font-size: 16px;
    line-height: 19px;
    bottom: 16px;
    left: 16px;
  }
  .hero__slider-secondary {
    width: 100%;
    min-height: 273px;
  }
  .hero .slider-secondary .slider-secondary__content {
    min-height: unset;
  }
  .hero .slider-secondary__title {
    font-size: 14px;
  }
  .hero .slider-secondary__text {
    margin-bottom: 4px;
  }
  .hero .slider-secondary__img-wrapper {
    text-align: center;
  }
  .hero .slider-secondary__img {
    width: 228px;
    height: auto;
    margin-bottom: 0;
  }
  .hero .slider-secondary__round-btn {
    width: 20%;
  }
  .hero .slider-secondary__flex-wrapper {
    align-items: end;
    flex-wrap: nowrap;
  }
}/*# sourceMappingURL=style.css.map */